/* Základní styly */
body {
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #2c2c2c;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

/* Nadpisy */
h1 {
    margin-bottom: 0.2em;
    margin-top: 0.5em;
}

h2 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 24px;
}

/* Rozložení stránky */
.left-column {
    float: left;
    width: 45%;
    padding-right: 40px;
}

.main-column {
    width: 55%;
}

.section {
    margin-bottom: 30px;
}

/* Galerie produktů */
.product-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product-photo, .product-thumbnail {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.product-photo img, .product-thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.product-photo:hover img, .product-thumbnail:hover img {
    transform: scale(1.1);
}

.product-thumbnails {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    margin-top: 10px;
}

.product-thumbnail {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

.product-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

/* Badges */
.badge {
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 0.8rem;
    
}

.badge-sale {
    top: 10px;
    left: 10px;
    background-color: #dc3545;
    color: white;
}

.badge-points {
    top: 10px;
    right: 10px;
    background-color: #8a2be2;
    color: white;
}

.badge-discount {
    top: 40px;
    left: 10px;
    background-color: white;
    color: black;
    border: 1px solid #dc3545;
}

.badge-stock {
    background-color: #ffc107;
    color: black;
}

/* Tlačítka a formulářové prvky */
.age-button {
    padding: 8px 15px;
    margin-right: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.age-button.active {
    background-color: #007bff;
    color: white;
}

.btn-insert {
    background-color: #69004d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 44px;
    cursor: pointer;
    margin-left: 20px;
}

.form-control {
    width: 50px;
    text-align: center;
    margin: 0 10px;
}

/* Cena a dostupnost */
.price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.price-without-vat {
    font-size: 1rem;
    color: #666;
}

.availability {
    color: #28a745;
}

/* Počítadlo produktů */
.product-buy-count-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.buy_count {
    display: flex;
    align-items: center;
}

.buy_count button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

/* Recenze */
.review {
    margin-bottom: 10px;
}

.review p {
    margin-bottom: 0px;
}

.review-stars-wrapper {
    margin-bottom: 10px;
}

.review-stars {
    color: #EC8074;
}

.review-stars-empty {
    color: #F8DAD8;
}

/* TianDe Lifestyle sekce */
.tiande-lifestyle {
    background-color: #fdeae9;
    padding: 15px;
    border-radius: 20px;
    margin: 20px 0;
    position: relative;
    padding-top: 20px;
    padding-right: 154px;
}

.tiande-logo {
    position: absolute;
    top: -2px;
    right: 10px;
    width: 113px;
    height: auto;
}

/* Aktuálně prohlížející */
.currently-watching {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.currently-watching__icon {
    width: 10px;
    height: 10px;
    background-color: #EC8074;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    display: inline-block;
}

.currently-watching__icon:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid #f8dad8;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.currently-watching__text {
    font-size: 14px;
    color: #333;
}

.currently-watching__number {
    font-weight: bold;
    color: #EC8074;
}

/* Vlastnosti produktu */
.product__info-qualities {
    display: flex;
    gap: 40px;
    justify-content: left;
    margin: 0 0 16px;
}

/* Personalizovaný obsah */
#personalized-content ul {
    list-style-type: none;
    padding-left: 0;
}

#personalized-content li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}

#personalized-content li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('/static/images/checkmark.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Funkce produktu */
.product-features {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.feature img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}